In [2]:
import pandas as pd

In [5]:
df_202201 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2022.01.csv',encoding='cp949')
df_202112 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.12.csv',encoding='cp949')
df_202111 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.11.csv',encoding='cp949')
df_202110 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.10.csv',encoding='cp949')
df_202109 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.09.csv',encoding='cp949')
df_202108 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.08.csv',encoding='cp949')
df_202107 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.07.csv',encoding='cp949')
df_202106 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.06.csv',encoding='cp949')
df_202105 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.05.csv',encoding='cp949')
df_202104 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.04.csv',encoding='cp949')
df_202103 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.03.csv',encoding='cp949')
df_202102 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.02.csv',encoding='cp949')
df_202101 = pd.read_csv('/content/drive/MyDrive/멀티캠퍼스/2조/이경희/data/해양수산부_일자별 위탁판매현황_2021.01.csv',encoding='cp949')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [46]:
df_202201.head(1)

         위판일자  \t산지조합코드    \t산지조합명  ...  \t상품규격명  \t상품단위명 \t데이터기준일자\t
0  2022-01-01       301  옹진수산업협동조합  ...        대  상자(C/S)  2022-01-31

[1 rows x 18 columns]

In [45]:
df_202112.head(1)

         위판일자  \t산지조합코드    \t산지조합명  ...  \t평균가 \t총 판매액 \t데이터기준일자\t
0  2021-12-01       301  옹진수산업협동조합  ...  26250  105000  2021-12-31

[1 rows x 18 columns]

In [10]:
old_col = df_202201.columns[1]
new_col = df_202201.columns[1].replace("\t","")
old_col
new_col

'산지조합코드'

In [15]:
df_202201.rename(columns = {old_col : new_col}, inplace=True)
#df_202201

In [18]:
for col in range(len(df_202201.columns)):  
  old_col = df_202201.columns[col]
  new_col = df_202201.columns[col].replace("\t","")
  df_202201.rename(columns = {old_col : new_col}, inplace=True)

In [19]:
df_202201.columns

Index(['위판일자', '산지조합코드', '산지조합명', '위판장코드', '위판장명', '수산물표준코드', '수산물표준코드명',
       '어종상태코드', '어종상태명', '업종명', '위판수량', '위판중량', '위판단가', '위판단가(1킬로그램)', '위판금액',
       '상품규격명', '상품단위명', '데이터기준일자'],
      dtype='object')

In [23]:
# 컬럼명 \t 제거하는 함수
def col_rm_str(df):
  for col in range(len(df.columns)):  
    old_col = df.columns[col]
    new_col = df.columns[col].replace("\t","")
    df.rename(columns = {old_col : new_col}, inplace=True)

In [24]:
col_rm_str(df_202201)s
col_rm_str(df_202112)
col_rm_str(df_202111)
col_rm_str(df_202110)
col_rm_str(df_202109)
col_rm_str(df_202108)
col_rm_str(df_202107)
col_rm_str(df_202106)
col_rm_str(df_202105)
col_rm_str(df_202104)
col_rm_str(df_202103)
col_rm_str(df_202102)

In [42]:
df_202201.drop( ['\t산지조합코드','\t위판장코드','\t수산물표준코드','\t어종상태코드','\t업종명','\t위판단가','\t위판금액','\t상품규격명','\t상품단위명','\t데이터기준일자\t'], axis=1 )

              위판일자        \t산지조합명 \t위판장명  ... \t위판수량 \t위판중량  \t위판단가(1킬로그램)
0       2022-01-01      옹진수산업협동조합  대부사업소  ...    0.0   75.0             46
1       2022-01-01      옹진수산업협동조합  대부사업소  ...    0.0   24.0            625
2       2022-01-01      옹진수산업협동조합  대부사업소  ...    0.0   10.0           1000
3       2022-01-01      옹진수산업협동조합  대부사업소  ...    0.0    2.0           4000
4       2022-01-01      옹진수산업협동조합  대부사업소  ...    0.0   10.0           2700
...            ...            ...    ...  ...    ...    ...            ...
655642  2022-01-31  제주어류양식수산업협동조합  유통사업팀  ...    0.7  250.0             52
655643  2022-01-31  제주어류양식수산업협동조합  유통사업팀  ...    0.9  500.0             27
655644  2022-01-31  제주어류양식수산업협동조합  유통사업팀  ...    0.6  250.0             50
655645  2022-01-31  제주어류양식수산업협동조합  유통사업팀  ...    0.7  250.0             52
655646  2022-01-31  제주어류양식수산업협동조합  유통사업팀  ...    0.8  500.0             26

[655647 rows x 8 columns]

-----------------------------------------------------------------
위판일자[0] 산지조합명[2] 위판장명[4] 수산물표준코드명[6] 어종상태명[8] 수량[9] 물량(킬로그램)[10] 최고가[11] 최저가[12] 평균가[13] 총판매액[14]

-----------------------------------------------------------------

In [36]:
df_202112.drop( ['\t산지조합코드','\t위판장코드','\t수산물표준코드','\t어종상태코드','\t업종명','\t위판단가','\t위판금액','\t상품규격명','\t상품단위명','\t데이터기준일자\t'], axis=1 )

              위판일자        \t산지조합명 \t위판장명  ... \t위판수량 \t위판중량  \t위판단가(1킬로그램)
0       2022-01-01      옹진수산업협동조합  대부사업소  ...    0.0   75.0             46
1       2022-01-01      옹진수산업협동조합  대부사업소  ...    0.0   24.0            625
2       2022-01-01      옹진수산업협동조합  대부사업소  ...    0.0   10.0           1000
3       2022-01-01      옹진수산업협동조합  대부사업소  ...    0.0    2.0           4000
4       2022-01-01      옹진수산업협동조합  대부사업소  ...    0.0   10.0           2700
...            ...            ...    ...  ...    ...    ...            ...
655642  2022-01-31  제주어류양식수산업협동조합  유통사업팀  ...    0.7  250.0             52
655643  2022-01-31  제주어류양식수산업협동조합  유통사업팀  ...    0.9  500.0             27
655644  2022-01-31  제주어류양식수산업협동조합  유통사업팀  ...    0.6  250.0             50
655645  2022-01-31  제주어류양식수산업협동조합  유통사업팀  ...    0.7  250.0             52
655646  2022-01-31  제주어류양식수산업협동조합  유통사업팀  ...    0.8  500.0             26

[655647 rows x 8 columns]